:root {
	--flutter-color: rgb(69, 198, 251);
	--flutter-color-dark1: rgb(0, 85, 159);
	--accent-color: brown;
	--accent-color-light1: rgb(230, 169, 169);
	--hint-color: rgb(219, 219, 219);
	--menu-bar-margin-left: 3dvh;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: sans-serif;
}

.menu-bar {
	position: fixed;
	margin-left: var(--menu-bar-margin-left);
	border-radius: 99px;
	top: 50%;
	transform: translateY(-50%);
	backdrop-filter: blur(20px);
	background-color: rgba(133, 133, 133, 0.144);
}

#menu-bar-ul {
	list-style-type: none;
	padding: 0px 10px;
}

.menu-icons {
	width: 25px;
	padding: 10px;
	cursor: pointer;
}

.menu-icons:hover {
	background-color: gray;
	border-radius: 99px;
}

#section-1 {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

.s1-info-pane {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 3rem;
	margin: 0px 20px;
}

#s1-m-name {
	color: var(--accent-color);
	font-weight: bold;
	font-size: 4rem;
}

#s1-flutter {
	color: var(--flutter-color);
	font-weight: bold;
	font-size: 4rem;
}

#s1-flutter-img {
	width: 50px;
	padding: 0;
}

#section-2 {
	width: 100%;
	min-height: 100vh;
	background-color: var(--accent-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sec-heading {
	font-size: 2em;
	color: white;
	margin: 80px 0px 30px 0px;
	text-transform: uppercase;
	text-align: center;
}

#s2-content,
#s3-content {
	width: 100%;
	max-width: 800px;
}

#s2-outer-content {
	display: flex;
	align-items: start;
}

.s2-cards-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.s2-content-wrapper {
	width: 100%;
}

#profile-img {
	max-width: 350px;
	width: 100%;
	height: 350px;
	border-radius: 80px;
	object-fit: cover;
	margin: 14px;
	transition: all 0.3s;
}

#profile-img:hover {
	border-radius: 50%;
}

.s2-cards {
	flex-grow: 1;
	flex-basis: 0;
	border-radius: 40px;
	background-color: var(--accent-color-light1);
	padding: 20px;
	margin: 14px;
	text-align: center;
	cursor: pointer;
	transition: transform 0.2s;
}

.s2-cards:hover {
	transform: scale(1.05);
}

.s2-cards-ul {
	list-style-type: none;
	padding: 0px;
	margin: auto;
}

.s2-card-icons {
	width: 30px;
	margin: auto;
}

#s2-para {
	text-align: justify;
	padding: 0px 16px;
	color: white;
}

#section-3 {
	width: 100%;
	min-height: 100vh;
	background-color: var(--flutter-color-dark1);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#s3-contact-cards-row1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.s3-cards {
	flex-grow: 1;
	flex-basis: 0;
	border-radius: 40px;
	background-color: var(--flutter-color);
	padding: 20px;
	margin: 10px;
	text-align: center;
	cursor: pointer;
	transition: transform 0.2s;
}

.s3-cards:hover {
	transform: scale(1.05);
}

#s3-message-card-row2 {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#s3-contact-name-input,
#s3-msg-text {
	height: 2.6rem;
	margin: 10px;
	background-color: transparent;
	border-radius: 80px;
	outline: var(--flutter-color) solid 3px;
	border: 0;
	padding-left: 20px;
	font-size: 1rem;
	color: white;
	font-family: sans-serif;
}

#s3-contact-name-input:focus,
#s3-msg-text:focus {
	outline-color: white;
}

#s3-msg-text {
	border-radius: 20px;
	height: calc(2.6rem * 2);
	padding-top: 16px;
}

::placeholder {
	color: var(--hint-color);
}


#s3-send-msg {
	width: 100%;
	display: flex;
}

#s3-send-msg-btn {
	width: 100%;
	height: 2.6rem;
	margin: 10px;
	border: 0;
	border-radius: 99px;
	cursor: pointer;
	background-color: var(--flutter-color);
	font-size: 1rem;
	transition: background-color 0.4s;
}

#s3-send-msg-btn:hover {
	background-color: white;
}

/* ######################################################### */

@media only screen and (max-width: 900px) {
	.menu-bar {
		top: auto;
		margin-left: 0;
		bottom: var(--menu-bar-margin-left);
		left: 50%;
		transform: translateX(-50%);
	}

	#menu-bar-ul {
		display: flex;
		padding: 0px 20px;
	}

	#s2-outer-content {
		flex-direction: column;
		align-items: center;
	}
}